.admin-container {

  margin: 0 auto;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.admin-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.admin-input,
.admin-textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}

.admin-button {
  background-color: #2563eb;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.admin-button:hover {
  background-color: #1d4ed8;
}

.journal-list-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.journal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}




.journal-table-heading {
  margin-top: 40px;
  font-size: 22px;
  color: #080e10;
  text-align: left;
}

.journal-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  background-color: #faf8f8;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 8px;
  overflow: hidden;
}

.journal-table th, .journal-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #71805c;
  
}

.journal-table th {
  background-color: #aed9e0;
  font-weight: 600;
}

.journal-table tr:hover {
  background-color: #fafafa;
}

.journal-table-image {
  width: 80px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}



.journal-btn {
  padding: 6px 12px;
  margin-right: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}
